body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Optional: Füge Padding hinzu, um den Inhalt zu zentrieren */
}

.logo img {
    height: 100%; /* Das Logo wird die volle Höhe des Headers haben */
}

.links {
    display: flex;
}

.link-container {
    margin-left: 15px; /* Optional: Füge Abstand zwischen den Links hinzu */
}

.links a {
    color: #fff; /* Farbe für die Links */
    text-decoration: none; /* Entfernt die Standard-Unterstreichung der Links */
}
